.wrapper {
  display: grid;
  grid-template-rows: 100px 400px;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'header header' 
                       'content sidebar';
  grid-gap: 10px;                     
}

header {
  grid-area: header;
  background-color: yellow;
}

main {
  grid-area: content;
  background-color: green;
}

aside {
  grid-area: sidebar;
  background-color: pink;
}

@media screen and (max-width: 480px) {
  .wrapper {
    grid-template-rows: 100px 400px 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 
                         'content' 
                         'sidebar';
  }
}

/*
break points

https://stackoverflow.com/questions/6370690/media-queries-how-to-target-desktop-tablet-and-mobile
*/
