.wrapper {
    display: grid;
    grid-template-rows: 150px 300px 150px;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-gap: 10px;   
    grid-template-areas: 'header header header header'
                         'content content content letraf'
                         'sidebar letrad letrae letraf';
                                   
  }
  
  header {
    background-color: yellow;
    grid-area: header;
    
  }
  
  main {
    background-color: aqua;
    grid-area: content;
  }
  
  .sidebar{
    grid-area: sidebar;
    background-color: lightblue;
  }
  .letrad{
    grid-area: letrad;
    background-color: purple;
    
  }
  .letrae{
    grid-area: letrae;
    background-color: orange;
    
}
  .letraf{
    grid-area: letraf;
    background-color: hotpink;  
}
  
   @media screen and (max-width: 480px) {
    .wrapper {
      grid-template-rows: 100px 400px 100px 100px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'header header header' 
                           'content content content' 
                           'sidebar letrad letrae'
                           'letraf letraf letraf';
    }
  }  